name: "grype"
on:
  push:
    branches: ['main']
    tags: ['v*']
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - '.goreleaser.yaml'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - 'README.md'
      - '.goreleaser.yaml'
jobs:
  scan-source:
    name: scan-source
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      actions: read
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: anchore/scan-action@v3
        with:
          path: "."
          fail-build: true